<header class="header row">

    <a href="/#Inicio"><img src="/img/marca.svg" alt="marca-tecnica-medica-celular" class="header__marca-img"></a>

    <a href="/#Nosotros" class="header__links">Nosotros</a>
    <a href="/#LoQueHacemos" class="header__links">Lo que hacemos</a>
    <a href="/#MedicinaRegenerativa" class="header__links">Medicina regenerativa</a>

    <a href="#Contactanos" class="header__contactanos">Contáctanos</a>

</header> 