<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favico.ico" type="image/x-ico">
    
    {{!-- Font Family Poppins --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

        
    {{!-- Style --}}
    <link rel="stylesheet" href="/css-2.0/mobile/mobile.css">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Tecnología Medica Celular</title>
</head>

<body GraciasPage id="body">

    <h1 hidden>Nos pondremos en contacto con tigo</h1>

    {{!-- Header --}}

    <Scaffold>

        <Desktop Desktop >
            
            <header class="header row">

                <a href="/#Inicio"><img src="/img-2.0/logo-color.svg" alt="marca-tecnica-medica-celular"
                        class="header__marca-img"></a>

                <a href="/#nosotros" class="header__links">Nosotros</a>
                <a href="/#loQueHacemos" class="header__links">Lo que hacemos</a>
                <a href="/#medicinaRegenerativa" class="header__links">Medicina regenerativa</a>

                <a href="/#contactanosDesktop" class="header__contactanos">Contáctanos</a>

            </header>

            <div class="gracias row">

                <img src="/img-2.0/icon-ac-ao.svg" alt="" class="gracias__img">

                <div class="gracias__col col">

                    <h2 class="gracias__col__title">¡Enviado!</h2>

                    <p class="gracias__col__paragraph">
                        pronto estaremos en contacto contigo.
                    </p>    

                    
                    <a href="/#Inicio" class="gracias__col__regresar ">Regresar</a>
                </div>




                <div class="gracias__col-2 col">

                    <h2 class="gracias__col-2__text-1">La mejora</h2>
                    <h2 class="gracias__col-2__text-2">de tu calidad de vida</h2>
                    <h2 class="gracias__col-2__text-3">es nuestra razón de ser.</h2>

                </div>

            </div>


        </Desktop>

        <Mobile Mobile >
            
            <header class="header-mobile-row row ">

                <a href="/#Inicio"><img src="/img-2.0/logo-color.svg" alt="marca-tecnica-medica-celular"
                        class="header-mobile-row__logo"></a>

                <a href="/#contactanosMobile" class="header-mobile-row__contacto">Contáctanos</a>

            </header>

            <div class="gracias col">

                
                <img src="/img-2.0/icon-ac-ao.svg" alt="" class="gracias__img">


                <h2 class="gracias__title">¡Enviado!</h2>

                <p class="gracias__paragraph">
                    pronto estaremos en contacto contigo.
                </p>    

                
                <a href="/#Inicio" class="gracias__regresar ">Regresar</a>

            </div>
        </Mobile>
    </Scaffold>

</body>

</html>