<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{!-- Metas --}}
    <meta name="robots" content="no index">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favico.ico" type="image/x-ico">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    {{!-- Font Famili poppins --}}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <title>Tecnología Medica Celular</title>
</head>

<body id="body" class="col">

    <h1 hidden > Tecnología Medica Celular</h1>

        {{!-- Mobile --}}
    <scaffold class="">

        <header class="header__mobile-row row ">
            
            <a href="/#Inicio"><img src="/img/marca.svg" alt="marca-tecnica-medica-celular" class="header__mobile-row__logo"></a>
            
            <a href="/#ContactanosMobile" class="header__mobile-row__contacto">Contáctanos</a>

            {{!-- <i id="menuMobile" class="fas fa-bars header__mobile-row__menu "></i> --}}

        </header>
        

        {{!-- <drawer id="drawer" class="drawer col">

            <div id="contentDrawer" class="drawer__content">


            </div>

        </drawer> --}}

        <div class="body__1__mobile row" id="InicioMobile">

            <div class="body__1__mobile__2 col">

                <p class="body__1__mobile__2__text-1">La mejora</p>
                <p class="body__1__mobile__2__text-2">de tu calidad de vida</p>
                <p class="body__1__mobile__2__text-3">es nuestra razón de ser.</p>
                <img   id="NosotrosMobile" src="/img/linea-multicolor-frio.svg" class="body__1__mobile__2__img" alt="linea-multicolor-frio">

            </div>

        </div>

        

        <div class="body__2__mobile col" >


            <h2 class="title__light">
                Nosotros
            </h2>



            <div class="body__2__mobile__2">


                <p class="paragraph__light">
                    Nuestro líder científico está certificado en para el tratamiento de dolor con células madre por la
                    INTERNATIONAL SOCIETY FOR STEM CELL APPLICATION, una especialidad que suma a su larga trayectoria
                    tratando pacientes de dolor crónico y cuidados paliativos.

                </p>
                <br>
                <p class="paragraph__light">
                    Abordamos a nuestro paciente desde una perspectiva científica y humana porque sabemos que las
                    enfermedades crónicas afectan la calidad de vida de nuestros pacientes y su entorno familiar, por
                    eso antes de ofrecer un tratamiento específico nos centramos en conocer las variables que pueden
                    incidir en su aplicación <span id="LoQueHacemosMobile">exitosa.</span>
                </p>

                <img src="/img/laboratorio-edit.png" alt="laboratorio-sin-fondo" class="body__2__mobile__img">

                <p class="paragraph__light">
                    Somos un equipo multidisciplinario con un principio fundamental: un trato
                    cercano y honesto con nuestros
                    pacientes para brindarles diferentes alternativas de cura de sus dolencias crónicas.
                </p>

            </div>

        </div>

    
        <div class="body__3__mobile col" >


            <h2 class="body__3__mobile__1">Lo que hacemos</h2>

            <img src="/img/linea-multicolor-frio.svg" 
                 alt="" 
                 class="body__3__mobile__img">




            <p class="body__3__mobile__text-1">
                En Tecnología Médica Celular nos enfocamos en ofrecer servicios de medicina regenerativa,
                que tienen como propósito mejorar la calidad de vida de nuestros pacientes mediante un variado
                portafolio de
                tratamientos basados en los más avanzados procedimientos de terapia celular.
            </p>

            <p class="body__3__mobile__text-2">
                Ofrecemos tratamientos de medicina celular
                para pacientes con osteoartritis <span id="MedicinaRegenerativaMobile">crónica.</span>
            </p>


        </div>


        <div class="body__4__mobile col" >


            <h2 class="title__light ">Medicina Regenerativa</h2>

            <br>

            <p class="paragraph__light ">
                El cuerpo humano es la máquina con mayor perfección creada por la naturaleza equipada con
                capacidades fenomenales para su resistencia y cura. Las células madre humanas son un arsenal
                maravilloso que gracias a su capacidad regenerativa se convierten en la más esperanzadora frontera
                científica para la cura de diversas enfermedades.

            </p>

            <br>

            <p class="paragraph__light ">
                La base fundamental de la medicina regenerativa es la terapia celular a partir de células madre
                (stem cells). Las células pluripotentes se encuentran en una concentración importante en el tejido
                graso humano. Por tanto su obtención se realiza en el paciente que recibirá el tratamiento, mediante
                una técnica de lipo-aspirado y posterior disgregación mecánica para luego ser suministradas al
                mismo, asegurando una alta capacidad de aceptación y una baja probabilidad de efectos secundarios no
                deseados.
            </p>


            <img src="/img/adn-vector.png" alt="adn-vector" class="body__4__mobile__img">

            <br>

            <p class="paragraph__light">
                El doctor inyecta este plasma con células madre, las cuales se empiezan a multiplicar y con el
                tiempo reparan y reconstruyen los tejidos afectados. Es una intervención ambulatoria y que puede
                necesitar en algunas ocasiones repetir las dosis.

            </p>

            <br>

            <p class="paragraph__light">
                La terapia con inyecciones de células madre tiene un gran potencial para el tratamiento de artritis
                ya que ayudan al cuerpo a sanar el cartílago y disminuir el dolor que produce la inflamación.

            </p>

            <br>

            <p class="paragraph__light">
                Cuando se trata de procedimientos para osteoartritis estas células tiene capacidad de diferenciación
                hacia el linaje osteogénico, a través de inducción controlada, por lo cual pueden ser utilizadas en
                la ingeniería de tejido <span id="ContactanosMobile" >óseo.</span>
            </p>

            <img src="/img/circulo-moleculas-azul.png" alt="circulo-moleculas-azul" class="body__4__mobile__img">


        </div>


        <div class="contactanos__mobile col" >

            <img src="/img/contacto-8.png" alt="contacto" class="contactanos__mobile__img">


            <h2 class="contactanos__mobile__title">
                Contáctanos
            </h2>

            <p class="contactanos__mobile__paragraph">
                Llena estos campos y pronto
                nos podremos en contacto contigo.
            </p>

            <form class="contactanos__mobile__form col" id="formMobile">


                <input  required 
                        type="email" 
                        name="email"
                        placeholder="Correo electrónico " 
                        id="email" 
                        class="contactanos__mobile__input">

                        
                <input  required 
                        type="text" 
                        name="nombre"
                        placeholder="Nombre" 
                        id="nombre" 
                        class="contactanos__mobile__input">
                        
                        
                <input  required 
                        type="tel" 
                        name="telefono"
                        placeholder="Teléfono" 
                        id="telefono" 
                        class="contactanos__mobile__input">

                <button type="submit"  
                        class="contactanos__mobile__button">Enviar
                </button>

            </form>
                        
        </div>

        <footer class="footer__mobile col">

            <h2 class="footer__mobile__title">Síguenos en nuestras redes sociales</h2>

        <div class="footer__mobile__row row">

            <a href="#"><img src="/img/faceook.svg" alt="facebook icon" class="footer__mobile__row__social-media"></a>
            
            <a href="#"><img src="/img/instagram.svg" alt="facebook icon" class="footer__mobile__row__social-media"></a>
            
            <a href="#"><img src="/img/twitter.svg" alt="facebook icon" class="footer__mobile__row__social-media"></a>

            <a href="#"><img src="/img/linkedin.svg" alt="facebook icon" class="footer__mobile__row__social-media"></a>

        </div>

    </footer>




    </scaffold>

    {{!-- Header --}}
    {{!-- Escritorio --}}
    <header class="header row">
        
        <a href="/#Inicio"><img src="/img/marca.svg" alt="marca-tecnica-medica-celular" class="header__marca-img"></a>

        <a href="#NosotrosDesktop" class="header__links">Nosotros</a>
        <a href="/#LoQueHacemos" class="header__links">Lo que hacemos</a>
        <a href="/#MedicinaRegenerativa" class="header__links">Medicina regenerativa</a>

        <a href="/#Contactanos" class="header__contactanos">Contáctanos</a>

    </header>

    <div class="body__1" id="Inicio">

        {{!-- Stack --}}

        {{!-- <img src="/img-low-size/body1.jpg" alt="" class="body__1__1 stack"> --}}

        <div class="body__1__2 stack row">

            <img src="/img/logo.svg" alt="logo" class="body__1__2__logo">

            <div class="col body__1__2__text">
                <p class="body__1__2__text-1">La mejora</p>
                <p class="body__1__2__text-2">de tu calidad de vida</p>
                <p class="body__1__2__text-3">es nuestra razón de ser.</p>
                <img    src="/img/linea-multicolor-frio.svg" class="body__1__2__img" alt="linea-multicolor-frio">
            </div>

        </div>


    </div>

    <div class="body__2 col" >

        <div class="body__2__1 row">

            <h2 class="title__light">
                Nosotros
            </h2>

            <p class="paragraph__light">Somos un equipo multidisciplinario con un principio fundamental: un trato
                cercano y honesto con nuestros
                pacientes para brindarles diferentes alternativas de cura de sus dolencias crónicas.</p>
        </div>

        <div class="row body__2__2">

            <div class="col body__2__2__1">

                <p class="paragraph__light">
                    Nuestro líder científico está certificado en para el tratamiento de dolor con células madre por la
                    INTERNATIONAL SOCIETY FOR STEM CELL APPLICATION, una especialidad que suma a su larga trayectoria
                    tratando pacientes de dolor crónico y cuidados paliativos.

                </p>
                <br>
                <p class="paragraph__light">
                    Abordamos a nuestro paciente desde una perspectiva científica y humana porque sabemos que las
                    enfermedades crónicas afectan la calidad de vida de nuestros pacientes y su entorno familiar, por
                    eso antes de ofrecer un tratamiento específico nos centramos en conocer las variables que pueden
                    incidir en su aplicación <span id="LoQueHacemos">exitosa.</span>
                </p>
            </div>

            <img src="/img/laboratorio-edit.png" alt="laboratorio-sin-fondo" class="body__2__2__2">
        </div>

    </div>

    <div class="body__3 row" >

        <div class="col body__3__0">

            <h2 class="body__3__1">Lo que hacemos</h2>

            <img src="/img/linea-multicolor-frio.svg" alt="" class="body__3__1__img">
        </div>



        <div class="col body__3__2">

            <p class="body__3__2__1">
                En Tecnología Médica Celular nos enfocamos en ofrecer servicios de medicina regenerativa,
                que tienen como propósito mejorar la calidad de vida de nuestros pacientes mediante un variado
                portafolio de
                tratamientos basados en los más avanzados procedimientos de terapia celular.
            </p>

            <p class="body__3__2__2">
                Ofrecemos tratamientos de medicina celular
                para pacientes con osteoartritis <span id="MedicinaRegenerativa">crónica.</span>
            </p>

        </div>

    </div>

    <div class="body__4 col" >

        <h2 class="body__4__1 row">

            <div class="body__4__1__col col">

                <h2 class="title__light body__4__1__title">Medicina Regenerativa</h2>

                <br>

                <p class="paragraph__light body__4__1__paragraph">
                    El cuerpo humano es la máquina con mayor perfección creada por la naturaleza equipada con
                    capacidades fenomenales para su resistencia y cura. Las células madre humanas son un arsenal
                    maravilloso que gracias a su capacidad regenerativa se convierten en la más esperanzadora frontera
                    científica para la cura de diversas enfermedades.

                </p>

                <br>

                <p class="paragraph__light body__4__1__paragraph">
                    La base fundamental de la medicina regenerativa es la terapia celular a partir de células madre
                    (stem cells). Las células pluripotentes se encuentran en una concentración importante en el tejido
                    graso humano. Por tanto su obtención se realiza en el paciente que recibirá el tratamiento, mediante
                    una técnica de lipo-aspirado y posterior disgregación mecánica para luego ser suministradas al
                    mismo, asegurando una alta capacidad de aceptación y una baja probabilidad de efectos secundarios no
                    deseados.
                </p>

            </div>

            <img src="/img/adn-vector.png" alt="adn-vector" class="body__4__1__img">

        </h2>

        <br>

        <div class="body__4__2 row">

            <img src="/img/circulo-moleculas-azul.png" alt="circulo-moleculas-azul" class="body__4__2__img">

            <div class="col body__4__2__col">

                <p class="paragraph__light">
                    El doctor inyecta este plasma con células madre, las cuales se empiezan a multiplicar y con el
                    tiempo reparan y reconstruyen los tejidos afectados. Es una intervención ambulatoria y que puede
                    necesitar en algunas ocasiones repetir las dosis.

                </p>

                <br>

                <p class="paragraph__light">
                    La terapia con inyecciones de células madre tiene un gran potencial para el tratamiento de artritis
                    ya que ayudan al cuerpo a sanar el cartílago y disminuir el dolor que produce la inflamación.

                </p>

                <br>

                <p class="paragraph__light">
                    Cuando se trata de procedimientos para osteoartritis estas células tiene capacidad de diferenciación
                    hacia el linaje osteogénico, a través de inducción controlada, por lo cual pueden ser utilizadas en
                    la ingeniería de tejido <span id="Contactanos" >óseo.</span>
                </p>
            </div>

        </div>

    </div>

    <div class="contactanos row " >


        <div class="contactanos__col col">

            <h2 class="contactanos__title">
                Contáctanos
            </h2>

            <p class="contactanos__paragraph">
                Llena estos campos y pronto
                nos podremos en contacto contigo.
            </p>

            <form class="contactanos__form col" id="form">


                <input  required 
                        type="email" 
                        name="email"
                        placeholder="Correo electrónico " 
                        id="email" 
                        class="contactanos__input">

                        
                <input  required 
                        type="text" 
                        name="nombre"
                        placeholder="Nombre" 
                        id="nombre" 
                        class="contactanos__input">
                        
                        
                <input  required 
                        type="tel" 
                        name="telefono"
                        placeholder="Teléfono" 
                        id="telefono" 
                        class="contactanos__input">

                <button type="submit"  class="contactanos__button">Enviar</button>

            </form>
                    
        </div>

        <img src="/img/contacto-8.png" alt="contacto" class="contactanos__img">


    </div>

    <footer class="footer col">

        <h2 class="footer__title">Síguenos en nuestras redes sociales</h2>

        <div class="footer__row row">

            <a href="#"><img src="/img/faceook.svg" alt="facebook icon" class="footer__row__social-media"></a>
            
            <a href="#"><img src="/img/instagram.svg" alt="facebook icon" class="footer__row__social-media"></a>
            
            <a href="#"><img src="/img/twitter.svg" alt="facebook icon" class="footer__row__social-media"></a>

            <a href="#"><img src="/img/linkedin.svg" alt="facebook icon" class="footer__row__social-media"></a>

        </div>

    </footer>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script>

        let drawer = document.getElementById('drawer')
        // let iconMenu = document.getElementById('menu');
        let contentDrawer = document.getElementById('contentDrawer')

        var toggleDrawer = false;

        let form = document.getElementById('form');
        let formMobile = document.getElementById('formMobile');

        {{!-- iconMenu.addEventListener('click', function(e){

            if( toggleDrawer === false ){
                contentDrawer.classList.add('drawer__content__active')
                drawer.classList.add('drawer__background__active')
                toggleDrawer = !toggleDrawer;

            } else {
                contentDrawer.classList.remove('drawer__content__active')
                drawer.classList.remove('drawer__background__active')
                toggleDrawer = !toggleDrawer;

            }

        }) --}}

        let sendForm = function(e){
            console.log('eje')

            e.preventDefault();
            
            let datos = new FormData(form)

            let email = datos.get('email')
            let telefono = datos.get('telefono')
            let nombre = datos.get('nombre')

            let post =  {
                email,
                telefono,
                nombre
            };

            let jsonPost = JSON.stringify(post);

            console.log( post )
            console.log( jsonPost )

            fetch('/form', {
                method: 'POST',
                body: jsonPost,
                headers: {
                    "content-type" : "application/json"
                }
            })
            .then( res => res.json() )
            .then( data =>{
                
                console.log( data );

                window.location = "/gracias";
            })

        }

        form.addEventListener( 'submit', sendForm);
        formMobile.addEventListener( 'submit', sendForm);

        $(document).ready(function(){

            
            // Add smooth scrolling to all links
            $("a").on('click', function(event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {

                    

                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({

                        scrollTop: $(hash).offset().top  
                        //console.log(  $(hash).offset().top  - ( vw * 0.1) )
                    }, 50, function(){

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                
                } // End if
            });
            
        });
    </script>

</body>

</html>