<!DOCTYPE html>
<html lang="es">

<head>

    {{!-- Metas --}}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="robots" content="no index">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Favicon --}}
    <link rel="icon" href="/img/favico.ico" type="image/x-ico">

    {{!-- Style --}}
    <link rel="stylesheet" href="/css-2.0/mobile/mobile.css">

    {{!-- Font Family Poppins --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    {{!-- Fontawesome --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <title>Tecnología Medica Celular</title>
</head>

<body id="body" class="col">


    <scaffold>

        <h1 hidden>Tecnología Medica Celular</h1>

        <FloatingActionBottom>

            <div class="btn-whatsapp">
                <a href="https://api.whatsapp.com/send?phone=573156757575" target="_blank">
                    <div class="btn-whatsapp__img"></div>
                </a>
            </div>

        </FloatingActionBottom>

        <Mobile Mobile class="col">


            <header class="header-mobile-row row ">

                <a href="/#Inicio"><img src="/img-2.0/logo-color.svg" alt="marca-tecnica-medica-celular"
                        class="header-mobile-row__logo"></a>

                <a href="/#contactanosMobile" class="header-mobile-row__contacto">Contáctanos</a>

            </header>

            <div class="Container-1 col">

                <h2 class="Container-1__text-1">La mejora</h2>
                <h2 class="Container-1__text-2">de tu calidad de vida</h2>
                <h2 class="Container-1__text-3">es nuestra razón de ser.</h2>

            </div>

            <div class="Container-2 col">

                <div class="Container-2__row-1 row">

                    <img src="/img-2.0/detail-bg-2-mb.svg" alt="alfiler" class="Container-2__row-1__img">

                    <h2 class="Container-2__row-1__title">Lo que hacemos</h2>

                </div>

                <p class="Container-2__paragraph-1">
                    En Tecnología Médica Celular nos enfocamos en ofrecer servicios de medicina regenerativa, que tienen
                    como propósito mejorar la calidad de vida de nuestros pacientes mediante un variado portafolio de
                    tratamientos basados en los más avanzados procedimientos de terapia celular.
                </p>

                <p class="Container-2__paragraph-2">
                    Ofrecemos tratamientos de medicina celular para pacientes con osteoartritis crónica.
                </p>

                <div class="Container-2__row-2 row">

                    <img src="/img-2.0/detail-bg-2-mb-2.svg" alt="alfiler" class="Container-2__row-2__img">

                    <h2 class="Container-2__row-2__title">Medicina Regenerativa</h2>

                </div>

                <p class="Container-2__paragraph-1">
                    El cuerpo humano es la máquina con mayor perfección creada por la naturaleza equipada con
                    capacidades fenomenales para su resistencia y cura. Las células madre humanas son un arsenal
                    maravilloso que gracias a su capacidad regenerativa se convierten en la más esperanzadora frontera
                    científica para la cura de diversas enfermedades.
                </p>


                <p class="Container-2__paragraph-1">
                    La base fundamental de la medicina regenerativa es la terapia celular a partir de células madre
                    (stem cells). Las células pluripotentes se encuentran en una concentración importante en el tejido
                    graso humano. Por tanto su obtención se realiza en el paciente que recibirá el tratamiento, mediante
                    una técnica de lipo-aspirado y posterior disgregación mecánica para luego ser suministradas al
                    mismo, asegurando una alta capacidad de aceptación y una baja probabilidad de efectos secundarios no
                    deseados.
                </p>

                <img src="/img/adn-vector.png" alt="adn azul" class="Container-2__img-1">

                <p class="Container-2__paragraph-1">
                    El doctor inyecta este plasma con células madre, las cuales se empiezan a multiplicar y con el
                    tiempo reparan y reconstruyen los tejidos afectados. Es una intervención ambulatoria y que puede
                    necesitar en algunas ocasiones repetir las dosis.
                </p>

                <p class="Container-2__paragraph-1">
                    La terapia con inyecciones de células madre tiene un gran potencial para el tratamiento de artritis
                    ya que ayudan al cuerpo a sanar el cartílago y disminuir el dolor que produce la inflamación.
                </p>


                <p class="Container-2__paragraph-1">
                    Cuando se trata de procedimientos para osteoartritis estas células tiene capacidad de diferenciación
                    hacia el linaje osteogénico, a través de inducción controlada, por lo cual pueden ser utilizadas en
                    la ingeniería de tejido óseo.
                </p>

                <img src="/img/circulo-moleculas-azul.png" alt="" class="Container-2__img-2">
            </div>

            <div class="Container-3 col">

                <div class="Container-3__row-1 row">

                    <img src="/img-2.0/detail-bg-3.svg" alt="alfiler" class="Container-3__row-1__img">

                    <h2 class="Container-3__row-1__title">Nosotros</h2>
                </div>


                <p class="Container-3__paragraph-1">
                    Nuestro líder científico está certificado en para el tratamiento de dolor con células madre por la
                    INTERNATIONAL SOCIETY FOR STEM CELL APPLICATION, una especialidad que suma a su larga trayectoria
                    tratando pacientes de dolor crónico y cuidados paliativos.

                </p>



                <p class="Container-3__paragraph-1">
                    Abordamos a nuestro paciente desde una perspectiva científica y humana porque sabemos que las
                    enfermedades crónicas afectan la calidad de vida de nuestros pacientes y su entorno familiar, por
                    eso antes de ofrecer un tratamiento específico nos centramos en conocer las variables que pueden
                    incidir en su aplicación exitosa.
                </p>



                <p class="Container-3__paragraph-1">
                    Somos un equipo multidisciplinario con un principio fundamental: un trato cercano y honesto con
                    nuestros pacientes para brindarles diferentes alternativas de cura de sus dolencias crónicas.
                </p>



            </div>

            <div class="Contactanos col" id="contactanosMobile">

                <h2 class="Contactanos__title">Contáctanos</h2>

                <p class="Contactanos__paragraph">
                    Llena estos campos y pronto nos podremos en contacto contigo.
                </p>

                <form class="Contactanos__form col" id="formMobile">


                    <input required type="email" name="email" placeholder="Correo electrónico " id="email"
                        class="Contactanos__form__input">


                    <input required type="text" name="nombre" placeholder="Nombre" id="nombre"
                        class="Contactanos__form__input">


                    <input required type="tel" name="telefono" placeholder="Teléfono" id="telefono"
                        class="Contactanos__form__input">

                    <button type="submit" class="Contactanos__form__button">Enviar
                    </button>

                </form>

                <div class="Contactanos__col-1 col">

                    <h2 class="Contactanos__col-1__text-1">La mejora</h2>
                    <h2 class="Contactanos__col-1__text-2">de tu calidad de vida</h2>
                    <h2 class="Contactanos__col-1__text-3">es nuestra razón de ser.</h2>

                </div>

            </div>


            <footer class="footer col">

                <h2 class="footer__title">Síguenos en nuestras redes sociales</h2>

                <div class="footer__row row">

                    <a href="#"><img src="/img/faceook.svg" alt="facebook icon" class="footer__row__social-media"></a>

                    <a href="#"><img src="/img/instagram.svg" alt="facebook icon" class="footer__row__social-media"></a>

                    <a href="#"><img src="/img/twitter.svg" alt="facebook icon" class="footer__row__social-media"></a>

                    <a href="#"><img src="/img/linkedin.svg" alt="facebook icon" class="footer__row__social-media"></a>

                </div>

            </footer>

        </Mobile>

        <Desktop Desktop class="col Desktop">

            <header class="header row">

                <a href="/#Inicio"><img src="/img-2.0/logo-color.svg" alt="marca-tecnica-medica-celular"
                        class="header__marca-img"></a>

                <a href="/#nosotros" class="header__links">Nosotros</a>
                <a href="/#loQueHacemos" class="header__links">Lo que hacemos</a>
                <a href="/#medicinaRegenerativa" class="header__links">Medicina regenerativa</a>

                <a href="/#contactanosDesktop" class="header__contactanos">Contáctanos</a>

            </header>

            <div class="Container-1 row" id="Inicio">

                <img src="/img/logo.svg" alt="logo" class="Container-1__logo">

                <div class="Container-1__col col">

                    <p class="Container-1__col__text-1">La mejora</p>
                    <p class="Container-1__col__text-2">de tu calidad de vida</p>
                    <p class="Container-1__col__text-3">es nuestra razón de ser.</p>
                    <img id="loQueHacemos" src="/img/linea-multicolor-frio.svg" class="Container-1__col__img"
                        alt="linea-multicolor-frio">

                </div>

            </div>

            {{!-- <img src="/public/img-2.0/detail.svg" alt="detail" class="Container-1__img-1"> --}}

            <div class="Container-2 row">

                <h2 class="Container-2__title">Lo que hacemos</h2>

                <img src="/img-2.0/detail-b-2.png" alt="detail-b-2" class="Container-2__img">

                <div class="Container-2__col col">

                    <p class="Container-2__col__paragraph-1">
                        En Tecnología Médica Celular nos enfocamos en ofrecer servicios de medicina regenerativa, que
                        tienen como propósito mejorar la calidad de vida de nuestros pacientes mediante un variado
                        portafolio de tratamientos basados en los más avanzados procedimientos de terapia <span id="medicinaRegenerativa"></span> celular.
                    </p>

                    <p class="Container-2__col__paragraph-2">
                        Ofrecemos tratamientos de medicina celular
                        para pacientes con osteoartritis crónica.
                    </p>
                </div>

            </div>


            <div class="Container-3 row">


                <div class="Container-3__col-1">

                    <h2 class="Container-3__col-1__title">Medicina Regenerativa</h2>

                    <br>

                    <p class="Container-3__col-1__paragraph-1">
                        El cuerpo humano es la máquina con mayor perfección creada por la naturaleza equipada con
                        capacidades fenomenales para su resistencia y cura. Las células madre humanas son un arsenal
                        maravilloso que gracias a su capacidad regenerativa se convierten en la más esperanzadora
                        frontera científica para la cura de diversas enfermedades.
                    </p>

                    <br>

                    <p class="Container-3__col-1__paragraph-1">
                        La base fundamental de la medicina regenerativa es la terapia celular a partir de células madre
                        (stem cells). Las células pluripotentes se encuentran en una concentración importante en el
                        tejido graso humano. Por tanto su obtención se realiza en el paciente que recibirá el
                        tratamiento, mediante una técnica de lipo-aspirado y posterior disgregación mecánica para luego
                        ser suministradas al mismo, asegurando una alta capacidad de aceptación y una baja probabilidad
                        de efectos secundarios no deseados.
                    </p>

                    <img src="/img/circulo-moleculas-azul.png" alt="circulo moleculas azul"
                        class="Container-3__col-1__img">

                </div>

                <div class="Container-3__col-2">

                    <img src="/img/adn-vector.png" alt="adn azul" class="Container-3__col-2__img">

                    <p class="Container-3__col-2__paragraph-1">
                        El doctor inyecta este plasma con células madre, las cuales se empiezan a multiplicar y con el
                        tiempo reparan y reconstruyen los tejidos afectados. Es una intervención ambulatoria y que puede
                        necesitar en algunas ocasiones repetir las dosis.

                    </p>

                    <br>

                    <p class="Container-3__col-2__paragraph-1">
                        La terapia con inyecciones de células madre tiene un gran potencial para el tratamiento de
                        artritis ya que ayudan al cuerpo a sanar el cartílago y disminuir el dolor que produce la
                        inflamación.

                    </p>

                    <br>


                    <p class="Container-3__col-2__paragraph-1">
                        Cuando se trata de procedimientos para osteoartritis estas células tiene capacidad de
                        diferenciación hacia el linaje osteogénico, a través de inducción controlada, por lo cual pueden
                        ser utilizadas en la ingeniería de tejido <span id="nosotros"> óseo.</span>
                    </p>

                </div>

            </div>

            <div class="Container-4 row" >

                <div class="Container-4__col-1 col">

                    <h2 class="Container-4__col-1__title">Nosotros</h2>

                    <p class="Container-4__col-1__paragraph-1">
                        Nuestro líder científico está certificado en para el tratamiento de dolor con células madre por
                        la INTERNATIONAL SOCIETY FOR STEM CELL APPLICATION, una especialidad que suma a su larga
                        trayectoria tratando pacientes de dolor crónico y cuidados paliativos.

                    </p>


                    <p class="Container-4__col-1__paragraph-1">
                        Abordamos a nuestro paciente desde una perspectiva científica y humana porque sabemos que las
                        enfermedades crónicas afectan la calidad de vida de nuestros pacientes y su entorno familiar,
                        por eso antes de ofrecer un tratamiento específico nos centramos en conocer las variables que
                        pueden incidir en su aplicación exitosa.
                    </p>

                </div>

                <div class="Container-4__col-2 col">

                    <p class="Container-4__col-2__paragraph-1">
                        Somos un equipo multidisciplinario con un principio fundamental: un trato cercano y honesto con
                        nuestros pacientes para brindarles diferentes alternativas de cura de sus dolencias crónicas.
                    </p>

                    <img src="/img-2.0/ISSCA.svg" 
                        alt=""
                        class="Container-4__col-2__img-1">


                        
                    <img src="/img-2.0/laboratorio-8.png" 
                        alt=""
                        class="Container-4__col-2__img-2">
                </div>

            </div>

            
            <div class="Contactanos col" id="contactanosDesktop">

                <h2 class="Contactanos__title">Contáctanos</h2>

                <p class="Contactanos__paragraph">
                    Llena estos campos y pronto nos podremos en contacto contigo.
                </p>

                <form class="Contactanos__form col" id="formDesktop">


                    <input required type="email" name="email" placeholder="Correo electrónico " id="email"
                        class="Contactanos__form__input">


                    <input required type="text" name="nombre" placeholder="Nombre" id="nombre"
                        class="Contactanos__form__input">


                    <input required type="tel" name="telefono" placeholder="Teléfono" id="telefono"
                        class="Contactanos__form__input">

                    <button type="submit" class="Contactanos__form__button">Enviar
                    </button>

                </form>

                <div class="Contactanos__col-1 col">

                    <h2 class="Contactanos__col-1__text-1">La mejora</h2>
                    <h2 class="Contactanos__col-1__text-2">de tu calidad de vida</h2>
                    <h2 class="Contactanos__col-1__text-3">es nuestra razón de ser.</h2>

                </div>

            </div>


            <footer class="footer col">

                <h2 class="footer__title">Síguenos en nuestras redes sociales</h2>

                <div class="footer__row row">

                    <a href="#"><img src="/img/faceook.svg" alt="facebook icon" class="footer__row__social-media"></a>

                    <a href="#"><img src="/img/instagram.svg" alt="facebook icon" class="footer__row__social-media"></a>

                    <a href="#"><img src="/img/twitter.svg" alt="facebook icon" class="footer__row__social-media"></a>

                    <a href="https://www.linkedin.com/company/tecnolog%C3%ADa-m%C3%A9dica-celular" target="_blank" ><img src="/img/linkedin.svg" alt="facebook icon" class="footer__row__social-media"></a>

                </div>

            </footer>

        </Desktop>


    </scaffold>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="/js/form.contact.js"></script>

</body>

</html>